<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Helloworld</title>
<style type="text/css">
body{
 text-align:center;
}
#main{
  margin:0 auto;
  width:600px;
  height:800px;
}
</style>
</head>

<body>
<div id="main">
<img src="https://file.gongbangbang.com/resources/u/2019/11/12/009ca8bddd2545ceb0828bb6a89ef460RMXMhI.jpg" />
</div>

    <div id="footerbar" class="row center">
        Copyright ©2019<a href="#">58TODO</a>保留所有权利<a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备16006862号</a>
    </div>
</body>

</html>