<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="技术，思考，总结，分享">
  <meta name="description" content="分享技术学习和实践过程的心得和思考">
  <meta name="robots" content="all">
  <base target="_blank">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <title>格物致知 知行合一 记录开悟的小欢喜</title>
  <style type="text/css">
    body {
      text-align: center;
    }

    #main {
      margin: 0 auto;
      width: auto;
      overflow: hidden;
    }

    a.special {
      text-decoration: none;
    }
  </style>
</head>

<body>

<div id="main" style="margin-top:10%;margin-bottom:8%">
  <h5>来，一起"卷"起来🙋🏻‍♂️👊</h5>
  <img src="https://f.chaojihao.net/logo/wxmplogog.jpeg"/>
  <div style="width:379px;margin:0 auto;">
    <ol type="a">
      <li><a href="https://mp.weixin.qq.com/s/zZefphx4aSW1QqYPd_xe8A">使用Cursor从0到1写一个爬虫,并成功运行了</a></li>
      <li><a href="https://mp.weixin.qq.com/s/2W2rNZ3YM3kTpCZBNzsIxA">系统崩溃了？别惊慌！这里有快速恢复的方法！</a></li>
      <li><a href="https://mp.weixin.qq.com/s/bweqlSgH7aj9hMMhPPi6jA">AI｜使用ChatGPT fix bug初体验 </a></li>
      <li><a class="special" target="_blank" href="https://mp.weixin.qq.com/s/5xAFk0U2Y7iDQTGGXjhNpw">2亿数据导出Excel的需求，应该如何专业的思考</a></li>
      <li><a target="_blank" href="https://mp.weixin.qq.com/s/y1DuVcygG4Zw-YwT6m_88w">从29.6s优化到33ms，我是如何做到的</a></li>
      <li><a class="special" target="_blank" href="https://mp.weixin.qq.com/s/Xm6x8SruzxvRPCBu_7gvAA">FullGC没及时处理，差点造成P0事故</a></li>
      <li><a target="_blank" href="https://mp.weixin.qq.com/s/vU-fQqlDMmy6dCqQcMuuXg">ChatGPT为什么能破“圈”</a></li>
    </ol>
    <a class="special" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3OTc4MTQ5NQ==#wechat_redirect" target="_blank">... ...</a>
  </div>
</div>

<div id="footer">
  Copyright ©2019-2024 <a href="#">云深不知处</a>保留所有权利<br/>ICP备案编号: <a href="https://beian.miit.gov.cn/" target="_blank">豫ICP备16006862号</a>
</div>

</body>

</html>
