<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息的搬运工，记录开悟时的小欢喜</title>
<style type="text/css">
body{
 text-align:center;
}
#main{
  margin:0 auto;
  width:auto;
  overflow:hidden;
}
</style>
</head>

<body>
<div id="main" style="margin-top:10%;margin-bottom:10%">
<h5>哈。。居然有人访问了~~多谢啦~~~~</h5>
<img src="http://file.chaojihao.net/009ca8bddd2545ceb0828bb6a89ef460RMXMhI.jpg" />
<h6></h6>
</div>

    <div id="footerbar" class="row center">
        Copyright ©2019<a href="#">58TODO</a>保留所有权利<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备16006862号</a>
    </div>
</body>

</html>