<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汇聚精华，记录学习与思考</title>
<style type="text/css">
body{
 text-align:center;
}
#main{
  margin:0 auto;
  width:auto;
  overflow:hidden;
}
</style>
</head>

<body>
<div id="main" style="margin-top:10%;margin-bottom:10%">
<h5>有人访问了，开心</h5>
<img src="https://file.gongbangbang.com/resources/u/2019/11/12/009ca8bddd2545ceb0828bb6a89ef460RMXMhI.jpg" />
<h6>汇聚精华，记录学习与思考</h6>
</div>

    <div id="footerbar" class="row center">
        Copyright ©2019<a href="#">58TODO</a>保留所有权利<a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备16006862号</a>
    </div>
</body>

</html>