<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <title>AddNewTodo</title>
</head>
<body>
<div class="section container" layout:fragment="content">
    <form name="form"
          class="col s12"
          th:action="${url}"
          method="post">


        <div class="row">
            <div class="input-field col s6">
                <label for="categoryId">categoryId</label>

                <input type="text"
                       id="categoryId"
                       th:value="${item!=null}?${item.categoryId}:1"
                       name="categoryId"
                       class="form-control"
                       placeholder="categoryId"/>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="weight">Weight(Desc)</label>

                <input type="text"
                       id="weight"
                       th:value="${item!=null}?${item.weight}:1"
                       name="weight"
                       class="form-control"
                       placeholder="digest"/>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="content">Content</label>

                <textarea id="content"
                          name="content"
                          placeholder="content"
                          th:text="${item!=null}?${item.content}"
                          class="materialize-textarea">

                </textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="digest"><i class="mdi-action-stars">Digest(required)</i></label>

                <input type="text"
                       id="digest"
                       th:value="${item!=null}?${item.digest}"
                       name="digest"
                       class="form-control"
                       placeholder="digest"/>
            </div>
        </div>


        <div class="row">
            <button type="submit"
                    class="btn btn-outline-warning btn-sm mdi-content-save"
                    th:text="${btnShowValue}">
                submit
            </button>
        </div>

    </form>
</div>

</body>
</html>