<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <title>AddNewTodo</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <a id="addNew" href="/web/v1/user/todo?finished=false">TodoList</a>

    <form name="form"
          class="center-align"
          th:action="${url}"
          method="post">

        <div class="form-group center-block">
            <div class="input-field col s6">
                <label for="content">Content</label>

                <input type="text"
                       id="content"
                       th:value="${item!=null}?${item.content}"
                       class="form-control"
                       name="content"
                       placeholder="content"/>
            </div>
        </div>

        <div class="form-group center-block">
            <div class="input-field col s6">
                <label for="categoryId">categoryId</label>

                <input type="text"
                       id="categoryId"
                       th:value="${item!=null}?${item.categoryId}:1"
                       name="categoryId"
                       class="form-control"
                       placeholder="categoryId">
            </div>
        </div>

        <div class="form-group center-block">
            <div class="input-field col s6">
                <label for="weight">Weight(Desc)</label>

                <input type="text"
                       id="weight"
                       th:value="${item!=null}?${item.weight}:1"
                       name="weight"
                       class="form-control"
                       placeholder="digest">
            </div>
        </div>

        <div class="form-group center-block">
            <div class="input-field col s6">
                <label for="digest"><i class="mdi-action-stars">Digest(required)</i></label>

                <input type="text"
                       id="digest"
                       th:value="${item!=null}?${item.digest}"
                       name="digest"
                       class="form-control"
                       placeholder="digest">
            </div>
        </div>

        <div class="form-group">
            <button type="submit"
                    class="btn btn-primary btn-block"
                    th:text="${btnShowValue}">
                Add
            </button>
        </div>

    </form>
</div>

</body>
</html>