<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <title>TodoList</title>
    <link href="/webjars/materializecss/0.96.0/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>

<body>
<div class="row" layout:fragment="content">
    <h4 class="indigo-text center">Todolist Detail
        <a class="btn-floating btn-large waves-effect waves-light indigo"
           th:href="@{/web/v1/user/todo/add}">
            +
        </a>
    </h4>


    <div class="row">
        <ul class="collection" th:each="item:${list}">
            <li class="collection-item">
                ID: <span id="todoId" th:text="${item.id}">id</span><br/>
                categoryId: <span th:text="${item.categoryId}">categoryId</span><br/>
                weight: <span th:text="${item.weight}">weight</span><br/>
                digest: <span th:text="${item.digest}">digest</span><br/>
                content: <span th:text="${item.content}">content</span><br/>
                progress: <span th:class="${item.finished}?' mdi-action-done green-text'"
                                th:text="${item.finished}?'DONE':'NEED TO DO' ">finished</span><br/>
                createTime: <span th:text=" ${#dates.format(item.createTime,'yyyy/MM/dd HH:mm')}">createTime</span><br/>

                <a th:if="!${item.finished}" class="doneTodo" th:id="${item.id}">
                    <i class="mdi-action-done">Done</i>
                </a>
                <i class="mdi-action-tab"></i>
                <a th:href="@{/web/v1/user/todo/{id}/modify(id=${item.id})}">
                    <i class="mdi-notification-system-update">Modify</i>
                </a>
                <i class="mdi-action-tab"></i>
                <a class="deleteTodo" th:id="${item.id}">
                    <i class="mdi-action-delete">Delete</i>
                </a>

            </li>
        </ul>

    </div>

</div>

<script layout:fragment="script">
    $(function () {
        $(".doneTodo").click(function () {

            var todoId = $(this).attr("id");
            console.log(todoId)
            $.ajax({
                    type: 'PUT',
                    url: "/api/v1/user/todo/" + todoId,
                    data: {
                        _csrf: $('meta[name=_csrf]').attr('content') //csrf
                    },
                    success: function () {
                        window.location.href = "/web/v1/user/todo?finished=false";
                    }
                }
            );

        })


        $(".deleteTodo").click(function () {
            var todoId = $(this).attr("id");
            console.log(todoId)
            $.ajax({
                    type: 'DELETE',
                    url: "/api/v1/user/todo/" + todoId,
                    data: {
                        _csrf: $('meta[name=_csrf]').attr('content') //csrf
                    },
                    success: function () {
                        window.location.href = "/web/v1/user/todo?finished=false";
                    }
                }
            );

        })


    });
</script>

</body>
</html>