<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>TodoList</title>
</head>
<body>


<div class="row" layout:fragment="content">
    <a id="addNew" th:href="@{/web/v1/user/todo/add}">add new Todo</a>


    <h4 class="indigo-text center">Todolist Detail</h4>
    <div class="row">
        <ul class="collection" th:each="item:${list}">
            <li class="collection-item">
                ID: <span id="todoId" th:text="${item.id}">id</span><br/>
                type: <span th:text="${item.type}">type</span><br/>
                digest: <span th:text="${item.digest}">digest</span><br/>
                content: <span th:text="${item.content}">content</span><br/>
                finished: <span th:text="${item.finished}">finished</span><br/>
                createTime: <span th:text="${#dates.format(item.createTime,'yyyy/MM/dd HH:mm')}">createTime</span><br/>
                <a onclick="finish()">
                    完成
                </a>
            </li>
        </ul>

    </div>

</div>

<script layout:fragment="script">
    function finish() {
        $.ajax({
                type: 'PUT',
                url: "/api/v1/user/todo/" + $('#todoId').text(),
                data: {
                    _csrf: $('meta[name=_csrf]').attr('content') //csrf
                },
                success: function () {
                    window.location.href = "/web/v1/user/todo?finished=false";
                }
            }
        );
    }
</script>

</body>
</html>