<!DOCTYPE html>
<html data-layout-decorate="~{layout/default}">
<head lang="en">
    <title>Profile</title>
</head>
<body>
<div class="row" data-layout-fragment="content">

    <ul>
        <li data-th-text="|ID:${profile.id}|">id</li>
        <li data-th-text="|thirdPartId:${profile.thirdPartId}|"></li>
        <li data-th-text="|type:${profile.type}|"></li>
        <li data-th-text="|nickName:${profile.nickName}|"></li>
        <li data-th-if="${profile.icon}!=null"><img alt="icon" data-th-src="${profile.icon}"/></li>
        <li data-th-text="|sex:${profile.sex}|"></li>
        <li data-th-text="|email:${profile.email}|"></li>
        <li data-th-text="|mobile:${profile.mobile}|"></li>
        <li data-th-text="|username:${profile.username}|"></li>
        <li data-th-text="|accountNonExpired:${profile.accountNonExpired}|"></li>
        <li data-th-text="|accountNonLocked:${profile.accountNonLocked}|"></li>
        <li data-th-text="|credentialsNonExpired:${profile.credentialsNonExpired}|"></li>
        <li data-th-text="|enabled:${profile.enabled}|">enabled</li>
    </ul>

</div>

</body>
</html>
