<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangcheng.zhiban.sns.todo.domain.mapper.SnsUserDOMapper">
    <resultMap id="BaseResultMap" type="com.tangcheng.zhiban.sns.todo.domain.model.SnsUserDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="third_part_id" jdbcType="VARCHAR" property="thirdPartId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="bio" jdbcType="VARCHAR" property="bio"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="account_enabled" jdbcType="BIT" property="accountEnabled"/>
        <result column="account_expired" jdbcType="TIMESTAMP" property="accountExpired"/>
        <result column="credentials_expired" jdbcType="TIMESTAMP" property="credentialsExpired"/>
        <result column="account_locked" jdbcType="BIT" property="accountLocked"/>
        <result column="create_ip" jdbcType="VARCHAR" property="createIp"/>
        <result column="update_ip" jdbcType="VARCHAR" property="updateIp"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="todo_count" jdbcType="INTEGER" property="todoCount"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <!-- 查询包装有role的CustomUserDetails的ResultMap -->
    <resultMap extends="BaseResultMap" id="UserDetailsResultMap"
               type="com.tangcheng.zhiban.sns.todo.domain.model.CustomUserDetails">
        <!-- 用户信息使用继承 -->

        <!-- role信息 -->
        <collection ofType="com.tangcheng.zhiban.sns.todo.domain.model.SnsRoleDO" property="roles">
            <id column="role_id" property="id"/>
            <result column="name" property="name"/>
            <result column="description" property="description"/>
        </collection>
    </resultMap>

    <select id="getUserByName" resultMap="UserDetailsResultMap">
    SELECT
    `user`.id,
    `user`.username,
    `user`.password,
    `user`.icon,
    `user`.email,
    `user`.account_enabled,
    `user`.account_expired,
    `user`.credentials_expired,
    `user`.account_locked,
    `user`.account_locked,
    role.id role_id,
    role.`name`,
    role.description
    FROM
    sns_user_role user_role
    JOIN sns_user user ON user.id = user_role.user_id
    JOIN sns_role role ON role.id = user_role.role_id
    WHERE
    user.username = #{username}
  </select>


</mapper>