<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Default title</title>

    <link href="/webjars/materializecss/0.96.0/css/materialize.css"
          type="text/css"
          rel="stylesheet"
          media="screen,projection"/>
    <meta name="_csrf_parameter" data-th-content="${_csrf.parameterName}" content="_csrf.parameterName"/>
    <meta name="_csrf" data-th-content="${_csrf.token}" content="_csrf.token"/>
</head>
<body>


<nav class="indigo" role="navigation">
    <div class="nav-wrapper container">
        <ul id="userManager-dropdown" class="dropdown-content">
            <li class="nav-link"><a data-th-href="@{/web/v1/user/profile/change-pwd}">ChangePwd</a></li>
            <li class="nav-link"><a class="mdi-action-exit-to-app" onclick="logout()">Logout</a></li>
        </ul>
        <span sec:authorize="isAuthenticated()" class="right">
                <a class="mdi-action-home" data-th-href="@{/}">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="mdi-action-search" data-th-href="@{/web/v1/user/todo/search}">Search</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
                Welcome &nbsp;
                <a href="#!"
                   class="dropdown-button mdi-action-account-circle"
                   data-activates="userManager-dropdown"
                   sec:authentication="name">
                    name
                </a>
                &nbsp;&nbsp;
            <span sec:authentication="authorities">roles</span>
        </span>
    </div>
</nav>

<div class="container">
    <section data-layout-fragment="content">
        <p>Page content goes here</p>
    </section>
</div>

<form id="logout" data-th-action="@{/logout}" method="post">
</form>

<script src="/webjars/jquery/2.1.4/jquery.js"></script>
<script src="/webjars/materializecss/0.96.0/js/materialize.js"></script>
<script type="text/javascript">
    $(".dropdown-button").dropdown();

    function logout() {
        $("#logout").submit();
    }
</script>
<script type="text/javascript" data-layout-fragment="script">
</script>
</body>
</html>
